---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ "/assets/css/main.scss" | relative_url }}">
  </head>

  <body>
      
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <header>
      <button id="theme-toggle" class="theme-toggle">🌙 Dark Mode</button>
    </header>
    
    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script src="{{ "/assets/js/theme-toggle.js" | relative_url }}"></script>

  </body>
</html>
